<?xml version="1.0"?>

<model>
  <name>deleaves_clamp</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Hughes La Vigne</name>
    <email>hughes.la.vigne@usherbrooke.ca</email>
  </author>

  <author>
    <name>Thomas Robichaud-Courteau</name>
    <email>thomas.robichaud-courteau@usherbrooke.ca</email>
  </author>
  
  <description>
    Item for warehouse environment.
  </description>

</model>
